<?xml version="1.0"?>
<config label='menus'>
	<menubar>
		<menu label="File">
			<item label="New">
				<command>newItem</command>
				<tooltip>"Create new item"</tooltip>
			</item>
			<item label="Quit">
				<command>_quit</command>
				<tooltip>"Quit program"</tooltip>
			</item>
		</menu>

		<menu label="Options">
		</menu>

		<menu label="Help">
		</menu>
	</menubar>

	<tablist>
		<tab label="Games"></tab>
		<tab label="Books"></tab>
		<tab label="Video"></tab>
	</tablist>

	<treeview>
		<tab label ="Books">
			<heading label="Title"></heading>
			<heading label='Author'></heading>
		</tab>
		<tab label ="Games">
			<heading label="Title"></heading>
			<heading label='Platform'></heading>
		</tab>
		<tab label ="Video">
			<heading lable="Title"></heading>
		</tab>
	</treeview>

	<source>
		<file path="">HumbleBundleInput</file>
		<file path="">AmazonInput</file>
	</source>
</config>
